Repository Pieter-Rees/bald-development: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --parser postcss --write, stylelint --syntax=scss --fix

.lintstagedrc:

{
  "linters": {
    "**/*.js": [
      "prettier --write",
      "git add"
    ],
    "**/*.scss": [
      "prettier --parser postcss --write",
      "stylelint --syntax=scss --fix",
      "git add"
    ],
  }
}

fixed some design stuff
  src/assets/scss/partials/_animations.scss
  src/assets/scss/partials/_base.scss
  src/assets/scss/partials/_variables.scss
Due: prettier --parser postcss --write, stylelint --syntax=scss --fix

fixed some design shizzle
  package-lock.json
  package.json
  src/android-chrome-192x192.png
  src/android-chrome-512x512.png
  src/apple-touch-icon.png
  src/assets/images/the-dude.jpg
  src/assets/scss/partials/_base.scss
  src/assets/scss/partials/_typography.scss
  src/assets/scss/partials/_variables.scss
  src/browserconfig.xml
  src/favicon-16x16.png
  src/favicon-32x32.png
  src/favicon.ico
  src/index.html
  src/mstile-144x144.png
  src/mstile-150x150.png
  src/mstile-310x150.png
  src/mstile-310x310.png
  src/mstile-70x70.png
  src/safari-pinned-tab.svg
  src/selection.json
  src/site.webmanifest
  webpack.config.js
Due: prettier --write, prettier --parser postcss --write, stylelint --syntax=scss --fix

fixed problems
  package-lock.json
  src/assets/scss/partials/_animations.scss
Due: prettier --parser postcss --write, stylelint --syntax=scss --fix

lekker
  package-lock.json
  src/assets/js/custom/custom-scroll.js
  src/assets/scss/app.scss
  src/assets/scss/partials/_base.scss
  src/assets/scss/partials/_media-queries.scss
  src/index.html
Due: prettier --write, prettier --parser postcss --write, stylelint --syntax=scss --fix

?
  src/assets/scss/partials/_base.scss
  src/assets/scss/partials/_media-queries.scss
Due: prettier --parser postcss --write, stylelint --syntax=scss --fix

revert to yarn :) this is allmost finished
  package-lock.json
  yarn.lock
Due: none

fixed some copy
  .browserslistrc
  package-lock.json
  package.json
  src/assets/scss/app.scss
  src/assets/scss/partials/_base.scss
  src/assets/scss/partials/_mixins.scss
  src/assets/scss/partials/_typography.scss
  src/index.html
Due: prettier --parser postcss --write, stylelint --syntax=scss --fix

package update
  package-lock.json
  package.json
  yarn.lock
Due: none

[ImgBot] Optimize images
  src/android-chrome-192x192.png
  src/android-chrome-512x512.png
  src/apple-touch-icon.png
  src/assets/images/bg-space.jpg
  src/assets/images/bg.jpg
  src/mstile-144x144.png
  src/mstile-150x150.png
  src/mstile-310x150.png
  src/mstile-310x310.png
  src/mstile-70x70.png
Due: none

Restyled by jq
  package-lock.json
  package.json
Due: none
