Repository Pieter-Rees/bald-development: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --parser postcss --write, stylelint --syntax=scss --fix

added react and a lot of base stuff
  .editorconfig
  .eslintrc
  .gitignore
  .htaccess
  .lintstagedrc
  .nvmrc
  .prettierrc
  .stylelintrc
  README.md
  config/env.js
  config/jest/cssTransform.js
  config/jest/fileTransform.js
  config/paths.js
  config/polyfills.js
  config/webpack.config.dev.js
  config/webpack.config.prod.js
  config/webpackDevServer.config.js
  package.json
  postcss.config.js
  public/favicon.ico
  public/index.html
  public/manifest.json
  scripts/build.js
  scripts/start.js
  scripts/test.js
  src/App.js
  src/App.scss
  src/App.test.js
  src/components/header.jsx
  src/index.css
  src/index.js
  src/logo.svg
  src/registerServiceWorker.js
  src/styles/base/_base.scss
  src/styles/base/_mixins.scss
  src/styles/base/_normalize.scss
  src/styles/base/_variables.scss
  yarn.lock
Due: prettier --write, prettier --parser postcss --write, stylelint --syntax=scss --fix

added some structure, heading component and some more stuff
  src/App.js
  src/App.scss
  src/components/footer.jsx
  src/components/header.jsx
  src/components/main.jsx
  src/components/modules/title.jsx
  src/components/pages/about.jsx
  src/components/pages/contact.jsx
  src/components/pages/work.jsx
  src/styles/base/_base.scss
  src/styles/base/_typography.scss
Due: prettier --write, prettier --parser postcss --write, stylelint --syntax=scss --fix

added some stuff related to styled components
  src/components/modules/title.jsx
  src/components/pages/about.jsx
  src/styles/base/_typography.scss
  src/styles/components/Header.css
  yarn.lock
Due: prettier --parser postcss --write, stylelint --syntax=scss --fix

fixed first styled component :) also added stylelint-scss
  package.json
  src/components/header.jsx
  src/styles/base/_typography.scss
  yarn.lock
Due: prettier --parser postcss --write, stylelint --syntax=scss --fix

moved to external component
  src/components/header.jsx
  src/components/modules/button.jsx
Due: none

fixed first real navigation list component, also fixed atomic structure in components
  src/App.js
  src/components/header.jsx
  src/components/main.jsx
  src/components/modules/atoms/title.jsx
  src/components/modules/molecules/button.jsx
  src/components/modules/organisms/navigation.jsx
  src/components/pages/about.jsx
  src/components/pages/contact.jsx
  src/components/pages/work.jsx
  src/index.css
  src/index.js
Due: prettier --write

fixed more stuff
  package.json
  src/components/header.jsx
  src/components/modules/atoms/paragraph.jsx
  src/components/modules/organisms/navigation.jsx
  src/components/modules/organisms/social.jsx
  src/components/pages/about.jsx
  src/components/pages/contact.jsx
  src/components/pages/work.jsx
  src/styles/base/_base.scss
  src/styles/base/_typography.scss
  yarn.lock
Due: prettier --parser postcss --write, stylelint --syntax=scss --fix

Update title.jsx
  src/components/modules/atoms/title.jsx
Due: none

removed css files and switch to styled omponents to the fullest
  config/webpack.config.dev.js
  src/App.js
  src/App.scss
  src/components/base/normalize.jsx
  src/components/base/typography.jsx
  src/components/base/variables.jsx
  src/components/global.jsx
  src/components/header.jsx
  src/components/pages/about.jsx
  src/styles/base/_base.scss
  src/styles/base/_mixins.scss
  src/styles/base/_typography.scss
  src/styles/base/_variables.scss
  src/styles/components/Header.css
Due: prettier --write, prettier --parser postcss --write, stylelint --syntax=scss --fix

added first variable styled components way )
  package.json
  src/App.js
  src/components/base/base.jsx
  src/components/base/variables.jsx
  src/components/global.jsx
  src/components/header.jsx
  src/components/main.jsx
  src/components/modules/molecules/button.jsx
  src/components/modules/organisms/navigation.jsx
  src/components/pages/about.jsx
  src/components/pages/contact.jsx
  src/components/pages/work.jsx
  yarn.lock
Due: prettier --write

removed styled theming from package.json
  package.json
Due: none

added base
  src/App.js
  src/components/global.jsx
  src/components/main.jsx
Due: prettier --write

added some base styling
  src/components/base/base.jsx
  src/components/header.jsx
  src/components/modules/atoms/logo.jsx
  src/components/pages/about.jsx
Due: none

added some design elements
  package.json
  public/hamburger-meal.svg
  src/components/base/base.jsx
  src/components/header.jsx
  src/components/modules/atoms/logo.jsx
  src/components/modules/organisms/navigation.jsx
  src/components/modules/organisms/social.jsx
  src/index.js
  yarn.lock
Due: prettier --write

added Capitals to component name and dis some other stuff
  src/App.js
  src/components/Footer.jsx
  src/components/Global.jsx
  src/components/Header.jsx
  src/components/Main.jsx
  src/components/base/Base.jsx
  src/components/base/Normalize.jsx
  src/components/base/Typography.jsx
  src/components/global.jsx
  src/components/modules/atoms/Logo.jsx
  src/components/modules/atoms/Paragraph.jsx
  src/components/modules/atoms/Title.jsx
  src/components/modules/molecules/Button.jsx
  src/components/modules/organisms/Menu.jsx
  src/components/modules/organisms/Navigation.jsx
  src/components/modules/organisms/Social.jsx
  src/components/pages/About.jsx
  src/components/pages/Contact.jsx
  src/components/pages/Work.jsx
Due: prettier --write

fiddle with react
  public/hamburger-meal.svg
  src/components/modules/organisms/Menu.jsx
  src/components/modules/organisms/Navigation.jsx
Due: none

fiddled menu +-
  src/components/Header.jsx
  src/components/modules/molecules/Button.jsx
  src/components/modules/organisms/Navigation.jsx
Due: none

need to pass property to component
  src/components/modules/molecules/Button.jsx
  src/components/modules/organisms/Menu.jsx
  src/components/modules/organisms/Navigation.jsx
Due: none

need to pass property to component
  src/components/modules/molecules/Button.jsx
  src/components/modules/organisms/Navigation.jsx
Due: none

fixed menu nav
  src/components/modules/molecules/Button.jsx
  src/components/modules/organisms/Menu.jsx
  src/components/modules/organisms/Navigation.jsx
Due: none

did small things
  src/components/Header.jsx
  src/components/modules/molecules/Button.jsx
  src/components/modules/organisms/Menu.jsx
  src/components/modules/organisms/Navigation.jsx
Due: none

added pure css
  package-lock.json
  package.json
  src/components/Global.jsx
  src/components/modules/atoms/Logo.jsx
  src/components/modules/organisms/Menu.jsx
  src/components/modules/organisms/Navigation.jsx
Due: none

added some sort of bg and a color scheme
  src/App.js
  src/components/Global.jsx
  src/components/Header.jsx
  src/components/modules/atoms/Bald.jsx
  src/components/modules/atoms/Logo.jsx
  src/components/modules/atoms/Title.jsx
  src/components/modules/molecules/Wallpaper.jsx
  src/components/modules/organisms/Menu.jsx
  src/components/pages/About.jsx
  src/components/pages/Contact.jsx
  src/components/pages/Work.jsx
  src/svg/bald.svg
  src/svg/hamburger-meal.svg
Due: prettier --write

update?
  package.json
Due: none

Don't know what this is...
  config/webpack.config.dev.js
  package-lock.json
  package.json
  src/components/modules/atoms/Bald.jsx
  src/components/modules/atoms/Logo.jsx
  src/components/pages/About.jsx
  yarn.lock
Due: prettier --write

design-tweaks
  config/webpack.config.dev.js
  config/webpack.config.prod.js
  package-lock.json
  package.json
  src/App.js
  src/components/Header.jsx
  src/components/Main.jsx
  src/components/base/Base.jsx
  src/components/modules/atoms/Bald.jsx
  src/components/modules/atoms/Logo.jsx
  src/components/modules/organisms/Menu.jsx
  src/components/modules/organisms/Navigation-menu.jsx
  src/components/modules/organisms/Navigation.jsx
  src/components/modules/organisms/Social.jsx
  src/components/pages/About.jsx
  src/components/pages/Intro.jsx
Due: prettier --write

fresh
  package-lock.json
  package.json
  postcss.config.js
Due: prettier --write

new
  .babelrc
  .browserslistrc
  .csscomb.json
  .eslintrc
  .gitignore
  .htmlhintrc
  .lintstagedrc
  .nvmrc
  .travis.yml
  package-lock.json
  package.json
  postcss.config.js
  readme.MD
  src/.htaccess
  src/assets/css/preloader.css
  src/assets/js/app.js
  src/assets/js/custom/analytics.js
  src/assets/js/custom/preloader.js
  src/assets/scss/app.scss
  src/assets/scss/partials/_base.scss
  src/assets/scss/partials/_typography.scss
  src/index.html
  src/selection.json
  webpack.config.js
Due: prettier --write, prettier --parser postcss --write, stylelint --syntax=scss --fix

test
  src/assets/scss/app.scss
  src/assets/scss/partials/_base.scss
  src/assets/scss/partials/_typography.scss
  src/index.html
Due: prettier --parser postcss --write, stylelint --syntax=scss --fix

test
  src/assets/scss/app.scss
  src/assets/scss/partials/_base.scss
  src/assets/scss/partials/_typography.scss
Due: prettier --parser postcss --write, stylelint --syntax=scss --fix

add aniamtion
  package-lock.json
  package.json
  src/assets/js/app.js
  src/assets/js/custom/custom-scroll.js
  src/index.html
Due: prettier --write

m
  src/assets/images/bg-space.jpg
  src/assets/images/bg.jpg
  src/assets/scss/app.scss
  src/assets/scss/partials/_base.scss
  src/assets/scss/partials/_typography.scss
  src/assets/scss/partials/_variables.scss
  src/index.html
  webpack.config.js
Due: prettier --write, prettier --parser postcss --write, stylelint --syntax=scss --fix

backup
  src/assets/images/logo.svg
  src/assets/scss/app.scss
  src/assets/scss/partials/_base.scss
  src/assets/scss/partials/_typography.scss
  src/assets/scss/partials/_variables.scss
  src/index.html
Due: prettier --parser postcss --write, stylelint --syntax=scss --fix

backup?
  src/assets/scss/partials/_base.scss
  src/assets/scss/partials/_typography.scss
Due: prettier --parser postcss --write, stylelint --syntax=scss --fix

test
  src/assets/scss/partials/_base.scss
  src/assets/scss/partials/_typography.scss
Due: prettier --parser postcss --write, stylelint --syntax=scss --fix

fixed ? Forgot to push
  src/assets/scss/partials/_base.scss
  src/assets/scss/partials/_typography.scss
  src/index.html
Due: prettier --parser postcss --write, stylelint --syntax=scss --fix

meh
  src/assets/scss/app.scss
  src/assets/scss/partials/_animations.scss
  src/assets/scss/partials/_base.scss
  src/assets/scss/partials/_variables.scss
Due: prettier --parser postcss --write, stylelint --syntax=scss --fix

Path conditions:
  prettier --write: any of: **/*.js
  prettier --parser postcss --write: any of: **/*.scss
  stylelint --syntax=scss --fix: any of: **/*.scss
